service/src/main/resources/wsdl/converter.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
            <s:complexType name="ArrayOfString">
                <s:sequence>
                    <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string"/>
                </s:sequence>
            </s:complexType>
            <s:element name="GetConversionRate">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="CurrencyFrom" type="s:string"/>
                        <s:element minOccurs="0" maxOccurs="1" name="CurrencyTo" type="s:string"/>
                        <s:element minOccurs="1" maxOccurs="1" name="RateDate" type="s:dateTime"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="GetConversionRateResponse">
                <s:complexType>
                    <s:sequence>
                        <s:element minOccurs="1" maxOccurs="1" name="GetConversionRateResult" type="s:decimal"/>
                    </s:sequence>
                </s:complexType>
            </s:element>
            <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString"/>
            <s:element name="decimal" type="s:decimal"/>
            <s:element name="string" nillable="true" type="s:string"/>
            <s:element name="dateTime" type="s:dateTime"/>
        </s:schema>
    </wsdl:types>
    <wsdl:message name="GetConversionRateSoapIn">
        <wsdl:part name="parameters" element="tns:GetConversionRate"/>
    </wsdl:message>
    <wsdl:message name="GetConversionRateSoapOut">
        <wsdl:part name="parameters" element="tns:GetConversionRateResponse"/>
    </wsdl:message>
    <wsdl:message name="GetConversionRateHttpGetIn">
        <wsdl:part name="CurrencyFrom" type="s:string"/>
        <wsdl:part name="CurrencyTo" type="s:string"/>
        <wsdl:part name="RateDate" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetConversionRateHttpGetOut">
        <wsdl:part name="Body" element="tns:decimal"/>
    </wsdl:message>
    <wsdl:message name="GetConversionRateHttpPostIn">
        <wsdl:part name="CurrencyFrom" type="s:string"/>
        <wsdl:part name="CurrencyTo" type="s:string"/>
        <wsdl:part name="RateDate" type="s:string"/>
    </wsdl:message>
    <wsdl:message name="GetConversionRateHttpPostOut">
        <wsdl:part name="Body" element="tns:decimal"/>
    </wsdl:message>
    <wsdl:portType name="ConverterSoap">
        <wsdl:operation name="GetConversionRate">
            <wsdl:input message="tns:GetConversionRateSoapIn"/>
            <wsdl:output message="tns:GetConversionRateSoapOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ConverterHttpGet">
        <wsdl:operation name="GetConversionRate">
            <wsdl:input message="tns:GetConversionRateHttpGetIn"/>
            <wsdl:output message="tns:GetConversionRateHttpGetOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="ConverterHttpPost">
        <wsdl:operation name="GetConversionRate">
            <wsdl:input message="tns:GetConversionRateHttpPostIn"/>
            <wsdl:output message="tns:GetConversionRateHttpPostOut"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConverterSoap" type="tns:ConverterSoap">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetConversionRate">
            <soap:operation soapAction="http://tempuri.org/GetConversionRate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConverterSoap12" type="tns:ConverterSoap">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetConversionRate">
            <soap12:operation soapAction="http://tempuri.org/GetConversionRate" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConverterHttpGet" type="tns:ConverterHttpGet">
        <http:binding verb="GET"/>
        <wsdl:operation name="GetConversionRate">
            <http:operation location="/GetConversionRate"/>
            <wsdl:input>
                <http:urlEncoded/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConverterHttpPost" type="tns:ConverterHttpPost">
        <http:binding verb="POST"/>
        <wsdl:operation name="GetConversionRate">
            <http:operation location="/GetConversionRate"/>
            <wsdl:input>
                <mime:content type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:mimeXml part="Body"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Converter">
        <wsdl:port name="ConverterSoap" binding="tns:ConverterSoap">
            <soap:address location="http://currencyconverter.kowabunga.net/converter.asmx"/>
        </wsdl:port>
        <wsdl:port name="ConverterSoap12" binding="tns:ConverterSoap12">
            <soap12:address location="http://currencyconverter.kowabunga.net/converter.asmx"/>
        </wsdl:port>
        <wsdl:port name="ConverterHttpGet" binding="tns:ConverterHttpGet">
            <http:address location="http://currencyconverter.kowabunga.net/converter.asmx"/>
        </wsdl:port>
        <wsdl:port name="ConverterHttpPost" binding="tns:ConverterHttpPost">
            <http:address location="http://currencyconverter.kowabunga.net/converter.asmx"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>